$breakpoint-mobile-sm: 300px;
$breakpoint-mobile-md: 468px;

section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  width: 100%;
  min-width: 400px;
  max-width: 650px;
}

input {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-width: 400px;
  max-width: 650px;
  height: auto;
  min-height: 50px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1rem;
  background-color: #20AC90;
  border: 1px solid rgba(225, 225, 225, 0.5);
}

@media (max-width: $breakpoint-mobile-md) {
  input,
  section {
    max-width: 400px;
    min-width: unset;
    padding: 0;
  }
}

@media (max-width: $breakpoint-mobile-sm) {
  input,
  section {
    max-width: 280px;
    min-width: unset;
    padding: 0;
  }
}

.opts {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-todo, .delete-todo, .mark-complete {
  position: relative;
  font-size: 0.75rem;
  top: -1px;
  text-transform: uppercase;
  cursor: pointer;
}

.mark-complete {
  position: absolute;
  margin-left: 0;
  right: 3rem;
}
