$breakpoint-mobile: 468px;

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

@media (max-width: $breakpoint-mobile) {
  .app-container {
    justify-content: unset;
  }
}
